{% load filters %} {# 'filters' is the name of the file #}
{% load tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

HTML Nav:
<nav>
    {#    <a href="{% url 'index' %}">{% url 'index' %}</a>#}
    <a href="{% url 'index' %}">Go to home</a>

    {#    <a href="{% url 'redirect to home' %}">{% url 'redirect to home' %}</a>#}
    <a href="{% url 'redirect to home' %}">Redirect to home</a>
</nav>

Tag Nav:
{% app_nav 'index' 'redirect to home' %}


<div>Original: {{ values }}</div>

<div>
    Odd: {{ values|odd }} {# 'odd' is te name of the filter #}
</div>

<div>{% student_info student %}</div>

<div>
    {% sample_tag %}
</div>
<div>
    {% sample_tag 17 'Doncho' True %}
</div>
<div>
    {% sample_tag department='Engineering' company='SoftUni' %}
</div>

{{ csrf_token }} <!-- As variable -->
{% csrf_token %} <!-- As tag -->

<h1>
    Original: {{ title }}: {{ value }}
</h1>
<h1>
    Upped: {{ title|upper }}: {{ value }}
</h1>
<h1>
    Capped first: {{ title|capfirst }}: {{ value }}
</h1>
<h1>
    Lower then capped first: {{ title|lower|capfirst }}: {{ value }}
</h1>
<h1>
    Truncated 10: {{ title|truncatechars:10 }}: {{ value }}
</h1>

<h2>{{ now }}</h2>
<h2>{{ now|date:"j/F/Y  G:i:s" }}</h2>
<h2>{{ now|app_style }}</h2>

{{ 2|add:3|add:4 }}
<div>
    {{ info.address }} <!-- In DTL (Django Template Language) --> <!-- info['address'] in python -->
</div>
{{ student.get_info }}

{{ student_info }}  <!-- It is right variant. -->

<div>
    {% if students %}
        {{ students|join:', ' }}
    {% else %}
        No students ...
    {% endif %}
</div>

<h3>Pure 'for'</h3>
<ul>
    {% for student in students %}
        <li>{{ student }}</li>
    {% empty %}
        <li>No students!</li>
    {% endfor %}
</ul>

<h3>'for' with 'ifchanged'</h3>
<ul>
    {% for student in students %}
        {% ifchanged student %}
            <li>{{ student }}</li>
        {% endifchanged %}
    {% endfor %}
</ul>


</body>
<!-- This is pure/native HTML comment -->
</html>