{% load static %}
{% load tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}My site{% endblock %}</title>

    <!-- Bootstrap: CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    {# Wrong way to load 'static files': #}
    {# <link rel="stylesheet" href="/static/site.css"> #}

    {# !!! Right way to load 'static files': #}
    <link rel="stylesheet" href="{% static 'site.css' %}">

    <!-- Bootstrap: JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>

    {# Site CSS #}
    <style>
        h1 {
            color: green;
        }
    </style>

    {# Page-specific CSS #}
    {% block styles %} {% endblock %}
    {# Page-specific JS in head #}
    {% block head_scripts %} {% endblock %}
</head>
<body>
{% block body_start_scripts %}
{% endblock %}

HTML Nav:
<nav>
    {#    <a href="{% url 'index' %}">{% url 'index' %}</a>#}
    <a href="{% url 'index' %}">Go to home</a>

    {#    <a href="{% url 'redirect to home' %}">{% url 'redirect to home' %}</a>#}
    <a href="{% url 'redirect to home' %}">Redirect to home</a>
</nav>

Tag Nav:
{% app_nav 'index' 'redirect to home' 'about' %}
{% app_nav 'index' 'redirect to home' 'redirect to home' 'index' 'index' 'redirect to home' 'redirect to home' %}

{# Placeholder for child templates to use #}
{# 'page_content' is custom name #}
{# can be 'content', 'main_content', ... or even 'Gosho' #}
{% block page_content %}
{% endblock %}


{% block body_end_scripts %}
{% endblock %}

{# Use 'include(partials)' when no python logic needed. #}
{# Use 'custom tags' when python logic needed. #}
{% include 'partials/footer.html' %}

</body>
<!-- This is pure/native HTML comment -->
</html>